.margin {
  margin: 0;
  font-family: Calibri;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  height: 100%;
  
}
.f1 {
  font-size: 20;
  color: white;
  font-family: Calibri;
  text-shadow: 0px 5px 5px #707070;
}
.n1 {
  list-style-type: none;
  margin: 0;
  padding-left: 30%;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  align: center;
}

.n2 {
  float: left;
}

.n2 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.n2 a:hover:not(.active) {
  background-color: #111;
}
