.page {
  margin-top: 24px;
  height: 100%;
  width: 100%;
}
.login-box {
  width: fit-content;
  height: fit-content;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 20%;
  left: 33%;
  box-sizing: border-box;
  padding-right: 2%;
  padding-top: 5%;
  padding-left: 2%;
  position: absolute;
}

.transaction_box {
  width: fit-content;
  height: fit-content;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 20%;
  left: 33%;
  box-sizing: border-box;
  padding-right: 2%;
  padding-top: 5%;
  padding-left: 2%;
  position: absolute;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
.signup_photo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
  font-family: Calibri;
}
.ep {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: Calibri;
  font-size: 20px;
}
.input_email {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
}
.input_password {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  width: 100%;
  margin-bottom: 2px;
}
.show {
  width: 100%;
}
.center {
  text-align: center;
}
.mine_details {
  text-align: center;
  font: 20px;
  color: #fff;
  margin-top: 20px;
}
.submit {
  margin-top: 10px;
  border: none;
  outline: none;
  height: 40px;
  background: #1c8adb;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  width: 40%;
}
.submit:hover {
  cursor: pointer;
  background: #39dc79;
  color: rgb(0, 0, 0);
}
.acc {
  text-align: center;
  font-size: 18px;
}
.trans {
  text-align: center;
  font-size: 22px;
}
.link {
  text-decoration: none;
  font-size: 20px;
  color: #39b7cd;
  font-weight: bold;
}
.login-box a:hover {
  color: #39dc79;
}

/* pretty radio */
label > input[type="checkbox"] {
  display: none;
}
label > input[type="checkbox"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 10%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgb(0, 0, 0);
}
label > input[type="checkbox"]:checked + * {
  color: rgb(21, 255, 0);
}
label > input[type="checkbox"]:checked + *::before {
  content: "✓";
  color: white;
  background: teal;
  border-color: teal;
}

/* basic layout */
label > input[type="checkbox"] + * {
  display: inline-block;
  padding: 0.5rem 1rem;
}
.mineBlockButton{
  margin-top:100px;
  padding:20px;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  border: 2px solid white;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:24px;
  }
  .mineBlockButton:hover {
      background-color: white;
      background-image: none;
      opacity:.5;
      color:  #0d324d;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.64), 0 17px 50px 0 rgba(0,0,0,0.29);
      }
#demo{
  text-align: center;
  color: white;
  font-size: larger; 
}
.center {
  margin-top: 10%;
  text-align: center;
}
.ep_mine{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: Calibri;
  color: white;
  font-size: 20px;
}
