/* Login Page*/

.log {
  /*div for login page*/
  position: absolute;
  top: 55%;
  left: 50%;
  background: white;
  width: 400px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 5px 10px 8px 10px #888888;
}
.avatar {
  /*for login photo*/
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
.log h1 {
  /*Login Heading*/
  text-align: center;
  margin-top: 50px;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}
.log form {
  /*Form for login*/
  padding: 0 40px;
  box-sizing: border-box;
}
form .text {
  /*Username and Password*/
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.text input {
  /*Username and Password input*/
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.ep {
  /*Username and Password display*/
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.underline::before {
  /*Underlined below username and password*/
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}
.text input:focus ~ .ep,
.text input:valid ~ .ep {
  /*Transition after selection of username and password*/
  font-weight: bold;
  top: -5px;
  color: #2691d9;
}
.text input:focus ~ .underline::before,
.text input:valid ~ .underline::before {
  /*Transition of undrerlined dashafter selection of username and password*/
  width: 100%;
}
.sh {
  /*Show password div*/
  margin: -5px 0 20px 5px;
  color: #0d324d;
  cursor: pointer;
}
.incorrect {
  margin: -5px 0 20px 5px;
  color: #ff3333;
}
.show {
  /*Show password color*/
  color: #2691d9;
}
.show:hover {
  /*Show password hover*/
  text-decoration: underline;
}
label > input[type="checkbox"]:checked + * {
  /*Show password after clicking*/
  font-weight: bold;
  color: rgb(21, 255, 0);
}
.login {
  /*Login in button*/
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  cursor: pointer;
  outline: none;
}
.trackTxnButton {
  width: 20%;
  height: 50px;
  border: 2px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e0dee7;
  cursor: pointer;
  outline: none;
}
.login:hover {
  border-color: #2691d9;
  transition: 0.5s;
}
.signup {
  /*Signup div*/
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup a {
  /*Link for signup*/
  color: #2691d9;
  text-decoration: none;
}
.signup a:hover {
  text-decoration: underline;
}
/* Login finished*/
/*Sign Up*/
.signup_photo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
.sucessful {
  margin-top: 2%;
  margin-right: 1%;
  height: fit-content;
  position: absolute;
  right: 0px;
  width: 400px;
  word-wrap: break-word;
  border-radius: 10px;
  color: #003663;
  font-weight: bold;
  padding: 10px;
  background-color: #6cc070;
}
/*Sign Up Finished*/
/*Add Trasaction*/
.gap {
  margin-bottom: 10px;
}
.correct {
  margin: -5px 0 20px 5px;
  color: #66ff00;
}
/*Add Transaction Finished*/
/* basic layout */

.mineBlockButton {
  margin-top: 100px;
  padding: 20px;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  border: 2px solid white;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 24px;
  padding: 16px 32px;
  text-align: center;
}
.mineBlockButton:hover {
  background-color: white;
  background-image: none;
  opacity: 0.5;
  color: #0d324d;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.64),
    0 17px 50px 0 rgba(0, 0, 0, 0.29);
}
#demo {
  text-align: center;
  color: white;
  font-size: larger;
}
.center {
  margin-top: 10%;
  text-align: center;
}
.ep_mine {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: Calibri;
  color: black;
  font-size: 20px;
}
/* Logout Button */
.verified {
  width: 25px;
  float: left;
}

.logout {
  font-size: 14px;
  font-weight: bold;
  font-family: Calibri;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity 0.45s;
  -webkit-transition: opacity 0.35s;
}
.button {
  text-decoration: none;
  float: right;
  padding: 12px;
  margin: 50px;
  color: rgb(0, 0, 0);
  width: 25px;
  background-color: #ffffff;
  transition: width 0.35s;
  -webkit-transition: width 0.35s;
  overflow: hidden;
}

.button:hover {
  width: 100px;
}

.button:hover .logout {
  opacity: 0.9;
}
/* Logout Button Close*/
/*Profile Information*/
.profile {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  border-radius: 25px;
  width: 1000px;
  height: fit-content;
  margin-top: 30px;
  margin-left: 10%;
  font-family: Calibri;
}

.profile tr td:first-child,
.profile p {
  font-weight: bold;
  color: #ffffff;
  padding-right: 15px;
}
/*Profile Information close*/
@media screen and (max-width: 660px) {
  .log {
    margin-top: 25%;
  }
  .profile {
    margin-top: 23%;
  }
}
@media screen and (max-width: 550px) {
  .log {
    margin-top: 40%;
  }
  .profile {
    margin-top: 43%;
    width: 400px;
  }
  .button {
    position: relative;
    margin-top: -12%;
    height: 20px;
    background-color: #636363;
  }
}
.node_message {
  margin: auto;
  width: fit-content;
  border-radius: 10px;
  font-size: 20px;
  color: rgb(21, 255, 0);
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

/*Search bar */
.s130 {
  min-height: 10vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 10px;
}

.s130 form {
  width: 100%;
  max-width: 620px;
  padding-top: 10vh;
}

.s130 form .inner-form {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 34px;
  overflow: hidden;
  margin-bottom: 30px;
}

.s130 form .inner-form .input-field {
  height: 68px;
}

.s130 form .inner-form .input-field input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
}

.s130 form .inner-form .input-field input.placeholder {
  color: #222;
  font-size: 16px;
}

.s130 form .inner-form .input-field input:-moz-placeholder {
  color: #222;
  font-size: 16px;
}

.s130 form .inner-form .input-field input::-webkit-input-placeholder {
  color: #222;
  font-size: 16px;
}

.s130 form .inner-form .input-field input:hover,
.s130 form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.s130 form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background: #d9f1e3;
}

.s130 form .inner-form .input-field.first-wrap input {
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.s130 form .inner-form .input-field.first-wrap .svg-wrapper {
  min-width: 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.s130 form .inner-form .input-field.first-wrap svg {
  width: 36px;
  height: 36px;
  fill: #222;
}

.s130 form .inner-form .input-field.second-wrap {
  min-width: 170px;
}

.s130 form .inner-form .input-field.second-wrap .btn-search {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  font-size: 16px;
  color: #fff;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 0;
  background: #00ad5f;
  transition: all 0.2s ease-out, color 0.2s ease-out;
  font-weight: 300;
}

.s130 form .inner-form .input-field.second-wrap .btn-search:hover {
  background: #009451;
}

.s130 form .inner-form .input-field.second-wrap .btn-search:focus {
  outline: 0;
  box-shadow: none;
}

.s130 form .info {
  font-size: 15px;
  color: #ccc;
  padding-left: 26px;
}

@media screen and (max-width: 992px) {
  .s130 form .inner-form .input-field {
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .s130 form .inner-form .input-field.first-wrap .svg-wrapper {
    min-width: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
  }
  .s130 form .inner-form .input-field.first-wrap svg {
    width: 26px;
    height: 26px;
    fill: #222;
  }
  .s130 form .inner-form .input-field.second-wrap {
    min-width: 100px;
  }
  .s130 form .inner-form .input-field.second-wrap .btn-search {
    font-size: 13px;
  }
}
/*Search Bar closed*/


/*Table for Track Transaction*/

.track-table{
  font-family: Calibri;
  margin-left: 6%;
  width: fit-content;
  height: fit-content;
}
.table-content {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 17px;
  min-width: 700px;
  min-height: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table-content thead tr {
  background-color: #2691d9;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}
.table-content th,
.table-content td {
  padding: 12px 15px;
}
.table-content tbody tr {
  border-bottom: 1px solid #dddddd;
  transition:all .2s ease-in;
  cursor: pointer;
}

.table-content tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-content tbody tr:last-of-type {
  font-weight: bold;
  border-bottom: 2px solid #2691d9;
}
.table-content tbody tr:hover{
  background-color: #f5f5f5;
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
