{% extends "layout.html" %}
{% block title %}Add Transaction{% endblock %}
{% block content %}
<div class="log">
  <img src="\static\img\transaction.png" class="signup_photo">
  <h1>Add Transaction</h1>
  <form method="POST">
    <div class="text">
      <input type="text" name="receiver" required>
      <span class="underline"></span>
      <label class="ep">Receiver</label>
    </div>
    <div class="text">
      <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
        name="amount" required>
      <span class="underline"></span>
      <label class="ep">Amount</label>
    </div>
    <div class="text">
      <input type="text" name="private_key" required>
      <span class="underline"></span>
      <label class="ep">Private key:<label>
    </div>
    <div class="text">
      <input type="text" name="purpose" required>
      <span class="underline"></span>
      <label class="ep">Purpose<label>
    </div>
    <div class="text">
      <input type="text" name="detail" required>
      <span class="underline"></span>
      <label class="ep">Detail<label>
    </div>
    {% if "upcoming" in response %}
    <div class="correct" style="color:#888888">
      {{response}}
    </div>
    {% endif %}
    {% if "will be added" in response %}
    <div class="correct">
      {{response}}
    </div>
    {% endif %}
    {% if "Incorrect" in response %}
    <div class="correct" style="color:#ff0000">
      {{response}}
    </div>
    {% endif %}
    {% if "Not found" in response %}
    <div class="correct" style="color:#ff0000">
      {{response}}
    </div>
    {% endif %}
    <input type="submit" name="submit" value="Add Transaction" class="login">
    <div class="gap"></div>
  </form>
</div>
{% endblock %}