{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
<div class="login-box">
    <img src="\static\image\avatar.png" class="avatar">
        <h1>Login Here</h1>
            <form>
            <p class="ep">Email</p>
            <input type="text" name="email" class="input input_password" placeholder="Enter Email">
            <p class="ep">Password</p>
            <input type="password" name="password" class="input input_password" placeholder="Enter Password">
            <div class="center">
                <input type="submit" name="submit" class="input submit" value="Login"><br>
            </div>
              
            </form>
        
        </div>
{% endblock %}