<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename=" css/nav.css")}}">
    <link rel="stylesheet" href="{{url_for('static',filename=" css/style.css") }}">
</head>

<body class="margin">
    <ul class="n1">
        <li class="n2"><a href="{{url_for('home')}}">
                <font class="f1"><b>Home</b></font>
            </a></li>
        <li class="n2"><a href="{{url_for('add_transaction')}}">
                <font class="f1"><b>Add Transaction</b></font>
            </a></li>
        <li class="n2"><a href="{{url_for('mine_block')}}">
                <font class="f1"><b>Mine Block</b></font>
            </a></li>
        <li class="n2"><a href="{{url_for('get_chain')}}">
                <font class="f1"><b>View Transaction</b></font>
            </a></li>
        <li class="n2"><a href="{{url_for('profile')}}">
                <font class="f1"><b>Track Transaction</b></font>
            </a></li>
    </ul>
</body>
{% block content %}
{% endblock %}

</html>