{% extends "layout.html" %}
{% block title %}Mine BLock{% endblock %}
{% block content %}
<div>
    <div class="header-blue">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
            <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler"
                    data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"></li>
                    </ul>
                    <form class="form-inline mr-auto" target="_self">
                        <div class="form-group"><label for="search-field"></label></div>
                    </form><span class="navbar-text"> </span>
                </div>
            </div>
        </nav>
        <div class="container hero">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                    <h1>Mine the next block</h1>
                    <p>Just a click away from mining the next block</p>
                    <form method="POST">
                        <button>Mine Block</button>
                    </form>
                </div>
                <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder"><img
                        class="d-inline float-left" data-bs-hover-animate="pulse"
                        src="assets/img/gettyimages-1153658163-612x612%20(1).jpg"
                        style="width: 500px;height: 400px;opacity: 0.53;filter: blur(0px) brightness(137%) contrast(93%);">
                    <div class="iphone-mockup">
                        <div class="screen"><i class="fa fa-star"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}