{% extends "layout.html" %}
{% block title %}View Transaction{% endblock %}
{% block content %}
<style>
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  .styled-table thead tr {
    background-color: #009879;
    color: #000000;
    text-align: left;
  }

  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }

  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #104aeb;
  }

  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #000000;
  }
</style>
<div class="pageclass">
  <div class="table">
    <table style="width: 100%; margin-top:50px" id="maintable" class="styled-table">
      <thead>
        <tr>
          <th>Index</th>
          <th>Time</th>
          <th>Proof</th>
          <th>Transaction</th>
        </tr>
      </thead>
      <tbody>
        {% for element in response['chain'][:-11:-1] %}
        <tr class="active-row">
          <td>{{element.index}}</td>
          <td>{{element.timestamp}}</td>
          <td>{{element.proof}}</td>
          <td>{% for trans in element.transactions %}
            Index : {{trans.index}}<br>
            From : {{trans.sender}}<br>
            To : {{trans['receiver']}}<br>
            Amount : {{trans['amount']}}<br>
            Transaction Time: {{trans['transaction_time']}}<br>
            Signature: {{trans['signature']}}<br><br>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>






{% endblock %}