{% extends "layout.html" %}
{% block title %}View Transaction{% endblock %}
{% block content %}
<div class="classTableData">
    <div class="table-responsive">
        <table class="table txnViewTable">
            <thead>
                <tr>
                    <th>ID&nbsp;</th>
                    <th>Block number</th>
                    <th>Sender</th>
                    <th>Reciver</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Cell 1</td>
                    <td>Cell 2</td>
                    <td>Cell 2</td>
                    <td>Cell 2</td>
                    <td>Cell 2</td>
                </tr>
                <tr>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                </tr>
                <tr>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                </tr>
                <tr>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                </tr>
                <tr>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                </tr>
                <tr>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                </tr>
                <tr>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                </tr>
                <tr>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                </tr>
                <tr>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                </tr>
                <tr>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                </tr>
                <tr>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}